body {
	background-color: #F5F5F5;
	background-attachment: fixed;
	background-size: cover;
	font-family:Tahoma, Geneva, sans-serif;

}

h1{
	font-size: 45px;
	
}


h4{
	font-size: 20px;
	color: lightgrey;
}




div.container{
	width:790px;
	margin-left: auto;
	margin-right: auto;
	text-align: justify;  
	background-color: #E0E0E0;
	

}

.title{
	padding: 30px;
	background-color:#9E9E9E;
	font-size: 20px;




}

.topimg{

	padding: 10px;

}

img{
	margin: 25px;
	    overflow-clip-margin: content-box;
    overflow: clip;
}

div.content{
	width: 545px;
	text-align: justify;

}


*{
  box-sizing: 790px;
}


nav{
	text-align: center;
	text: black;

}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;

}


nav ul li {
    display: inline;
    margin-right: 20px;

}

nav ul li a {
    text-decoration: none;
    color: whitesmoke; 

}

nav a {
	background-color: #E0E0E0;
	float: left;
	text-align: center;
	padding: 12px;
	color: black;
	text-decoration: none;
	font-size: 17px;
	width:790px;
}


nav a:hover {
	background-color:#BDBDBD;
}



.active {
	background-color: #9E9E9E;
}

.chamber {
	grid-area: footer;
	background-color:#BDBDBD;
	color: white;
	paddign:10px 10px;
	font-size: 13px;
	text-align: left;
}


.homeuni {
	float: right;
	margin-right: 20px;
}
	

.home{
	width: 780px; 
    height: 350px; 
    padding: 10px; 
    margin: 10px;
    border-radius: 20px;
}

.about{
	margin-left: 30px;

}

.mem1{
	height: 150px;
    padding: 15px; 
    margin-right: 10px;
    margin-left:30px;
    border-radius: 10px;
    background-color: whitesmoke;
    width: 700px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);

}

.mem2{
	height: 150px;
    padding: 15px; 
    margin-right: 10px;
    margin-left:30px;
    border-radius: 10px;
    background-color: whitesmoke;
    width: 700px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);

}

.mem3{
	height: 150px;
    padding: 15px; 
    margin-right: 10px;
    margin-left:30px;
    border-radius: 10px;
    background-color: whitesmoke;
    width: 700px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
    
}

.mem4{
	height: 150px;
    padding: 15px; 
    margin-right: 10px;
    margin-left:30px;
    border-radius: 10px;
    background-color: whitesmoke;
    width: 700px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
}

.m13{
	float: right;
	margin-right: 5px;
	margin-left: 5px;
	
}

.m24{
	float: left;
	margin-right: 5px;

	
}

.introlect{
	margin-left: 30px;
	width: 545px;
}

.lecture1{
	display: inline-block;
	vertical-align: middle;
	background-color: whitesmoke;
	box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
	width: 223px;
	margin-bottom: 15px;
    margin-right: 10px;
    margin-left: 20px;
    padding: 5px;
 }


.lecture2{
	display: inline-block;
	background-color: whitesmoke;
	box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
	padding-bottom: 5px;
	padding-left: 20px;
	padding-right: 10px;
	border-radius: 10px;
	width: 223px;
	
	padding-top: 1px;
	
	margin-left: 20px;
	position: relative;
	margin-bottom: 15px;
    margin-right: 10px;
}

.lecture3{
display: inline-block;
	background-color: whitesmoke;
	box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
	padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 10px;
	border-radius: 10px;
	width: 223px;
	padding: 5px;
	padding-top: 1px;
	
	margin-left: 40px;
	position: relative;
}

.lecture4{
	background-color: whitesmoke;
	box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
	padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 10px;
	border-radius: 10px;
	width: 223px;
	padding: 5px;
	padding-top: 1px;
	display: inline-block;
	margin-left: 40px;
	position: relative;
}

.lecture5{
	background-color: whitesmoke;
	box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
	padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 10px;
	border-radius: 10px;
	width: 223px;
	padding: 5px;
	padding-top: 1px;
	display: inline-block;
	margin-left: 40px;
	position: relative;
}

.lecture6{
	background-color: whitesmoke;
	box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
	padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 10px;
	border-radius: 10px;
	width: 223px;
	padding: 5px;
	padding-top: 1px;
	display: inline-block;
	margin-left: 40px;
	position: relative;
}



.program{
	margin-left: 20px;
	margin-right: 20px;
}

table, td, th {
  border: 1px solid;
   padding:10px;
   background-color: whitesmoke;

}

.sponsors{
	width: 545px;
	margin-left: 20px;
}

.location{
	width: 545px;
	margin-left: 20px;
}

.register{
	width: 545px;
	margin-left: 20px;
}

.contact{
	width: 545px;
	margin-left: 20px;
}
